body {
  background: #F7F6DC;
}

#btn {
  background: #7FB77E;
}

#delete {
  background: #ec6b72;
}

#btn:hover {
  transition: all .3s linear;
  background: #70a16f;
}

.form-control:focus {
  border-color: #bac989;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #bac989;
}

.form-check-input:focus {
  border-color: #bac989;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #bac989;
}

.form-check-input:checked {
  background: #7FB77E;
}

.navbar {
  background-color: #7FB77E;
}

.flex-comment {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.flex-comment-item {
  align-self: flex-end;
}

.flex-tea {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: flex-start;
}

.flex-tea-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tea-info {
  display: flex;
  flex-direction: column;
}